* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.a {
  text-decoration: none;
  color: #fff;
}

.section {
  padding: 10rem 0rem;
  background-color: #fff;
}
.heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5px;
  text-align: center;
  color: #333;
  position: relative;
}

.heading::after {
  content: "";
  width: 7rem;
  height: 0.5rem;
  background-color: rgb(175, 27, 153);
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3rem;
}

.Card-warpper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.Card {
  width: 20rem;
  background-color: #ebeef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.Card_img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}
.Profile-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -11rem;
  z-index: 999;
  border: 1rem solid #ebeef8;
}

.Card h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 1.5rem 0;
}

.Specialization {
  color: #777;
  font-size: 1.5rem;
  font-weight: 300;
}

.about {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
  text-align: center;
  color: #333;
}

.btn {
  padding: 1rem 2.5rem;
  background-color: #445ae3;
  border-radius: 2rem;
  margin: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #eee;
  font-size: 1.4rem;
  transition: all 0.5s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.Social-media {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 1);
}
.Social-media i {
  font-size: 3rem;
  transition: color 0.5s;
}
.fa-twitter-square {
  color: #55acee;
}
.fa-google-plus-square {
  color: #dd4b39;
}
.fa-facebook-square {
  color: #55acee;
}
.fa-snapchat-square {
  color: #ebfe1d;
}

.fa-twitter-square:hover,
.fa-google-plus-square:hover,
.fa-facebook-square:hover,
.fa-snapchat-square:hover {
  color: #45e19f;
}
@media screen and (min-width: 700px) {
  .Card-warpper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .Card {
    margin: 2rem;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  .Card:nth-child(1) {
    animation: fedeIn 0.5s 0.5s backwards;
  }
  .Card:nth-child(2) {
    animation: fedeIn 0.5s 0.1s backwards;
  }
  .Card:nth-child(3) {
    animation: fedeIn 0.5s 0.1s backwards;
  }
  .Card:nth-child(4) {
    animation: fedeIn 0.5s 0.2s backwards;
  }
}
